html {

}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 2%;
    grid-template-areas:
    "left main right";
}
.main {
    grid-area: main;
    background: black;

}
.left {
    grid-area: left;

}
.right {
    grid-area: right;

}
